/*General styling*/
html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: rgb(48,48,48)
}

h2 {
  font-size: 2rem;
  font-weight: 800;
}

h4{
  font-size:1.25rem;
  font-weight: 700;
}

/*h1, h2, h3 {
  font-family: 'Anton', sans-serif;
}*/

a {
  text-decoration: none;
  color: black;
}

b {
  font-weight: bold;
}


/*Header*/
.header{
  margin: 0 24px;
  width: auto;
  height: 64px;
  display:flex;
  justify-content: space-between;
  align-content: center;
}


.logo img{
  height: 32px;
  width: auto;
  display: inline-flex;
}

.logo{
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
}

 .navbar {
   display:inline-flex;
   align-items: center;
}

.navbar #mobile {
  display: none;
}

.navbar li {
  display: inline;
  margin: 0 8px;
}

/*Banner*/
.banner {
  width: auto%;
  height: 100%;
  padding: 32px 24px 32px 24px;
  background-color: rgb(214, 210, 224);
  display: flex;
  align-items: center;
}

.banner img {
  width: 60%;
  height: auto;
  margin-right: 24px;
  display:inline-block;
}

.learn {
  display: inline-flex;
  flex-direction: column;
  height: 100%;
  font-size: 1.25rem;
}



.learn p {
  margin: 20px 0;
}

/*button within banner section*/
.button {
  text-align: center;
  font-size: 1rem;
  width: 100%;
  background-color: rgb(48,48,48);
}

.button p {
  margin: 8px 0;
}

.button a{
  color: white !important;
}

/*Main*/
.main {
  width: auto;
  padding: 0 0 32px 24px;
}

.left img {
  margin-bottom: 32px;
  width: 100%;
}

.left /*Quote and image*/ {
  width: 60%;
  display: inline-flex;
  flex-direction: column;
  margin-top: 32px;
  margin-right: 32px;
}

.left p /*Quote and author under the image*/ {
  margin-top: 24px;
}

.right #mobile-img {
  display: none;
}

.right /*Info news - column of info-wrappers*/ {
  min-height: 100%;
  width: 37%;
  vertical-align: top;
  display: inline-flex;
  flex-direction: column;
  margin: 0;
  text-align: left;
}

.info-wrapper /* styling of news divs*/ {
  background-color: white;
  width: 100%;
  display:inline-flex;
  align-items: center;
}

.info-wrapper p {
  margin: 8px 0;
}

.info-wrapper a /*Hyperlinks within info-wrapper*/ {
  color: 	rgb(0, 64, 255);
}

.info-wrapper img /*image in each news div*/{
  width: 35%;
  height: auto;
  display: inline-flex;
  margin: 16px;
}

.info /*Text within info-wrapper*/ {
  display: inline-flex;
  flex-direction: column;
}

/*Info-wrapper pseudo-classes*/
.info-wrapper:first-child {
  padding-top: 16px;
}

.info-wrapper:last-child {
  background-color: rgb(214, 210, 224);
}

/*Arts section*/
.jumbotron {
  background-color: rgb(222, 222, 224);
  width: auto;
  padding: 32px 56px;
  vertical-align: bottom;
}

.jumbotron h2 /*Header in arts section*/{
  margin-bottom: 16px;
  text-align: center;
  min-width: 100%
}

.arts /*flex container for arts*/{
  display:flex;
  flex-wrap: wrap;
}

.arts .mobile-arts {
  display:none;
}

.art-wrapper{
  display: inline-flex;
  flex-direction: column;
  width: 30%;
  margin:16px;

}

.art-description /*styling of description of each art*/{
  background-color: white;
  display:flex;
  flex-direction: column;
  text-align: left;
  padding: 16px 40px 24px 16px;
  align-self: stretch;
  flex: 1; /*makes the height equal*/
}

#courses {
  text-transform: uppercase;
}

.art-description p {
  line-height: 2;
}

/*Thesis*/
.thesis h2{
  text-align:center;
}

.thesis {
  padding: 32px 0 32px 24px;
}

.thesis .right {
  margin-top: 32px;
}

.thesis  .info-wrapper img {
  padding-top: -32px;
  margin-top: 0px;
}

.thesis #fisma {
  background-color: rgb(214, 210, 224);
}

.thesis #now {
  background-color:white;
  padding: 16px 0 16px 0px;
}

/*Footer*/
.footer {
  font-size: 0.75rem;
  padding: 16px 24px 32px 24px;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.footer p {
  display: inline-flex;
}

.footer ul {
  display: inline-flex;
}

.footer li {
  display: inline;
  margin: 10px;
}

/*MEDIA QUERIES*/
@media only screen and (max-width:470px){
 .header .logo p {
   display:none;
 }

 .header ul {
   display: none;
 }

 .header {
   justify-content: center;
 }
.header .logo {
  margin: 0 2rem;
}
 .header #mobile {
   display: inline-flex;
   margin: 0 2rem;
 }

 .banner {
   margin: 0;
   padding:0 0 32px 0;
   flex-direction: column;
 }

 .banner img{
   margin: 0 0 32px 0;
   width: 100%
 }

 .learn {
   padding: 0 0 16px 16px;
   margin: 0;
   width: 100%;
 }

 .button {
   text-align: center;
   width: 80%;
   margin: 0 auto;
 }

 .main {
   padding: 16px;
 }

 .main .left {
   display: none;
 }

 .main .right {
   width: 100%;
   padding: 0;
   margin: 0;
 }

 .main .info-wrapper {
   flex-direction: column;
   margin: 0;
   padding: 0;
 }

 .main #desktop-img {
   display: none;
 }

 .main #mobile-img {
  display: block;
  width: 100%;
 }

 .info {
   padding: 0;
   margin: 0;
   text-align: left;
   width: 100%;
   padding-left: 32px;
}

.info-wrapper:last-child {
  background-color: white;
}

.jumbotron {
  background-color: white;
}

.art-wrapper {
  display: none;
}

.arts .mobile-arts {
  display:block;
  width: 80%;
  margin: 16px 0 24px 0;
}

.mobile-arts li {
  background-color: rgb(222, 222, 224);
  text-align: left;
  padding: 16px 0 24px 16px;
  margin-bottom: 8px;
  font-weight: bold;
}

.thesis .right {
  display: none;
}

.thesis {
  padding: 32px 0 16px 0;
  justify-content: center;
}

.thesis h2 {
  margin-bottom: -16px;
}

.thesis .left {
  width: 100%;
}

.thesis h4, p {
  display: none;
}
.footer {
  padding: 16px 0 16px 16px;
}
.footer ul {
  display: none;
}
}
